*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    padding: 25px;
    margin: 25px;
    margin-bottom: 180px;
    border-radius: 8px;
    border: none;
    background: linear-gradient(to top, #fff, #8a8a8a);
    text-align: center;
}

.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
}

.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.box{
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
}

input{
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    border: none;
    background-color: rgb(229, 255, 124);
    cursor: pointer;
}

button{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(19, 255, 19);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

button:hover{
    padding: 6px;
    padding-left: 11px;
    padding-right: 11px;
}

.yellow{
    background-color: yellow;
}

.red{
    background-color: red;
}

.green{
    background-color: rgb(0, 255, 0)
}